@charset "UTF-8";

:root {
    --color-text: #272727;
    --color-red: #E25858;
    --color-blue: #5D9BEA;
    --color-orange: #F4C5B5;
    --color-gray: #F6F6F6;
    --background-color-white: #FFF9F6;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: var(--background-color-white);
    color: var(--color-text);
}

p {
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    
}

h2, h3, h4, .btn_contact {
    font-weight: 500;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    margin: 0 0 30px;
}

h4 {
    font-size: 18px;
}

.inner {
    width: 83%;
    margin: 0 auto 100px;
    padding: 90px 0 0;
}

h2, h3, h4, .toggle_title, .textAlign_center {
    text-align: center;
}

.content {
    margin-top: 60px;
}

/* header -------------------------------------  */
header,
header .inner,
nav ul {
    display: flex;
    align-items: center;
}

header {
    background-color: var(--color-red);
    color: #FFFFFF;
    height: 80px;
}

header .inner {
    justify-content: space-between;
}

nav li {
    margin-right: 40px;
}
/* end of header -------------------------------------  */

/* hero -------------------------------------  */
#hero {
    width: 100%;
}

#hero>div {
    background-image: url("../images/hero.png");
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* end of hero -------------------------------------  */

/* service -------------------------------------  */

#service .content {
    margin: 40px 0 80px;
}

.container_card {
    margin: 40px 0 0;
}

.card a {
    font-size: 13px;
}

.clients {
    margin: 80px 0 0;
}

.clients h4 {
    line-height: 2;
}

.clients h4 span {
    font-size: 15px;
    font-weight: initial;
}

#service  h4 {
    margin: 0 0 30px;
}

.toggle_content {
    margin: 0 0 50px;
}

.toggle_title {
    font-size: 18px;
}

.toggle_title li {
    font-size: 15px;
}

/* end of service -------------------------------------  */

/* school -------------------------------------  */

#school .inner {
    margin: 0 auto;
    padding: 90px 0 100px;
}

#school {
    background-color: var(--color-gray);
}

#school h4 {
    font-size: 20px;
}

/* end of school -------------------------------------  */

/* contact -------------------------------------  */

#contact h2 {
    margin-bottom: 40px;
}

.btn_contact {
    margin: 30px 0 100px;
    font-size: 18px;
}

.copy {
    font-size: 12px;
}

/* end of contact -------------------------------------  */

/* for sp ------------------------------------- */
@media (max-width: 767px) {
    .inner {
        width: calc(100% - 32px);
    }
}