@charset "UTF-8";

:root {
    --color-text: #272727;
    --color-red: #E25858;
    --color-blue: #5D9BEA;
    --color-orange: #F4C5B5;
    --color-gray: #F6F6F6;
    --background-color-white: #FFF9F6;
}

body {
    background-color: var(--background-color-white);
    color: var(--color-text);
}

.inner {
    width: 83%;
    margin: 0 auto;
}

/* header -------------------------------------  */
header,
header .inner,
nav ul {
    display: flex;
    align-items: center;
}

header {
    background-color: var(--color-red);
    color: #FFFFFF;
    height: 80px;
}

header .inner {
    justify-content: space-between;
}

nav li {
    margin-right: 40px;
}
/* end of header -------------------------------------  */

/* hero -------------------------------------  */
#hero {
    width: 100%;
}

#hero>div {
    background-image: url("../images/hero.png");
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* end of hero -------------------------------------  */

/* for sp ------------------------------------- */
@media (max-width: 767px) {
    .inner {
        width: calc(100% - 32px);
    }
}